body {

}

.border-free-table td, th {
    border: 0 !important;
}

.table {
    width: 132px;
    text-align: right;
}

.padder {
    margin-bottom: 20px;
    height: 90px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    /*-webkit-border-top: 4px !important;*/
    /*-moz-border-top: 4px !important;*/
    /*border-top: 4px !important;*/
    /*-webkit-border-bottom: 4px !important;*/
    /*-moz-border-bottom: 4px !important;*/
    /*border-bottom: 4px !important;*/
    border: 1px solid grey;
}

.floater {
    float: left;
    pointer-events: none;
}

.rightTab {
    float: right;
    pointer-events: none;
}

/*.chartWithMarkerOverlay {*/
/*position: relative;*/
/*width: 700px;*/
/*}*/
/*.overlay-text {*/
/*width: 200px;*/
/*height: 200px;*/
/*position: absolute;*/
/*top: 30px;*/
/*left: 200px;*/
/*}*/
/*.overlay-marker {*/
/*width: 50px;*/
/*height: 50px;*/
/*position: absolute;*/
/*top: 53px;*/
/*left: 528px;  */
/*}*/
/*div.stretchy-wrapper {*/
/*width: 100%;*/
/*padding-bottom: 100%;*/
/*position: relative;*/
/*}*/

/*div.stretchy-wrapper > div {*/
/*position: absolute;*/
/*top: 0; bottom: 0; left: 0; right: 0;*/

/*color: white;*/
/*font-size: 24px;*/
/*text-align: center;*/
/*}*/
/*.modal-dialog,*/
/*.modal-content{*/
/*height: 80%;*/

/*}*/
/*.modal-body{*/
/*max-height: calc(100% - 120px);*/
/*overflow-y: scroll;*/
/*}*/

.modal, .modal-content, .modal-dialog, #chart_big_div, .stretchy-wrapper {
    background: rgba(64, 64, 64, 0.0);
    box-shadow: none;
    border: none;
}

#chart_big_div {
    margin-bottom: 50px;
!important
}

#slider-range {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    margin-left: -1px;
    width: 601px;
}

#kills_deaths_chart {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.highcharts-container {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

#spacer2 {
    background-color: #ffffff;
    position: absolute;
    height: 100%;
    top: 0;
    width: calc(100% - 630px);
    right: 0;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

#spacer3 {
    background-color: white;
    height: 20px;
    content: '';
    width: 600px;
    -webkit-border-radius: 0px 0px 4px 4px!important;
    -moz-border-radius: 0px 0px 4px 4px!important;
    border-radius: 0px 0px 4px 4px!important;
}

.bg-success {
    background-color: rgb(177, 234, 126);
}

.bg-danger {
    background-color: rgb(255, 150, 150);
}

.checkboxItem {
    width: 12px;
    height:12px;
}