{% extends "template.html" %}
{% block title %}
<title>LolStatsWeb | Home</title>
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    <div id="heatmapArea" style="height: 512px;width: 512px;background-image: url('https://s3-us-west-1.amazonaws.com/riot-api/img/minimap-ig.png')">
        <script>
        $(document).ready(function() {
            var events = {{ events|safe }};
            var ex = {{ x }};
            var wy = {{ y }};
            var time = {{ time }};

            // minimal heatmap instance configuration
            var heatmapInstance = h337.create({
              // only container is required, the rest will be defaults
                container: document.querySelector('#heatmapArea'),
                radius: 20
            });

            // now generate some random data
            var points = [];
            var max = 0;
            for (var i=0; i < ex.length; i++) {
              var point = {
                x: ex[i],
                y: wy[i]
              };
              points.push(point);
            }
            // heatmap data format
            var data = {
              max: max,
              data: points
            };
            // if you have a set of datapoints always use setData instead of addData
            // for data initialization
            heatmapInstance.setData(data);
        });
        </script>
    </div>
{% endblock %}