{% extends "template.html" %}
{% block title %}
<title>LolStatsWeb | Home</title>
{% endblock %}

{% block header %}
<link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">


{% endblock %}

{% block content %}
<div id="bg-cont">

</div>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">LolStats</h3>
                    <nav>
                        <ul class="nav masthead-nav red">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <div class="cover-heading">
                    <form class="form-inline" action="/" method="post">
                        <div class="form-group">
                            <label for="InputName">Summoner Name</label>
                            <input type="text" class="form-control" name="InputName" placeholder="e.g. TheOddOne">
                        </div>
                        <div class="form-group">
                            <label for="regionSelect">Region</label>
                            <select class="form-control" name="regionSelect">
                                <option value="BR">Brazil</option>
                                <option value="EUNE">Europe Nordic & East</option>
                                <option value="EUW">Europe West</option>
                                <option value="LAN">Latin America North</option>
                                <option value="LAS">Latin America South</option>
                                <option value="NA">North America</option>
                                <option value="OCE">Oceania</option>
                                <option value="KR">Korea</option>
                                <option value="RU">Russia</option>
                                <option value="TR">Turkey</option>
                            </select>
                        </div>
                        <!--<button type="submit" class="btn btn-default">Sign in</button> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> -->
                        <button id="butChange" type="submit" class="btn btn-default">Search</button>

                    </form>
                </div>
                <hr />
                <p class="lead">League of Legends Stat Generator</p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>TOTES TESTING</p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}