{% extends "template.html" %}
{% block title %}
    <title>{{ playername }} | Stats</title>
{% endblock %}

{% block header %}
    <link href="{{ url_for('static', filename='css/stats.css') }}" rel="stylesheet">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LolStats</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {
            var temp = {{ jsonData|tojson }};
            var amount = temp.length;


            function createDiv(item, win, lane, assist, gold, kills, deaths, id, minionK, time, champ) {
                var iDiv = document.createElement('div');
                iDiv.id = item.toString();
                var img = document.createElement('div');
                var eleLane = document.createElement('div');
                var killDiv = document.createElement('table');
                var goldCreeps = document.createElement('table');

                img.className = 'floater col-md-1';
                img.innerHTML = '<p>test</p>';
                killDiv.className = 'floater col-sm-2 table table-condensed border-free-table';
                killDiv.innerHTML = '<tbody><tr><td>Kills: </td><td>'+kills+'</td></tr>' +
                '<tr><td>Deaths: </td><td>'+deaths+'</td></tr>' +
                '<tr><td>Assists: </td><td>'+assist+'</td></tr></tbody>';
                eleLane.className = 'floater port col-md-3';
                eleLane.innerHTML = '<p>Lane: '+lane+'</p>';
                goldCreeps.className = 'col-sm-2 table table-condensed border-free-table rightTab';
                goldCreeps.innerHTML = '<tbody><tr><td>Gold: </td><td>'+gold+'</td></tr>' +
                '<tr><td>Creeps: </td><td>'+minionK+'</td></tr></tbody>';
                if (win == false) {
                    iDiv.className = 'col-md-12 bg-danger padder';
                }
                else {
                    iDiv.className = 'col-md-12 bg-success padder';
                }
                document.getElementsByClassName('col-md-8')[0].appendChild(iDiv);
                document.getElementById(item.toString()).appendChild(img);
                document.getElementById(item.toString()).appendChild(killDiv);
                document.getElementById(item.toString()).appendChild(eleLane);
                document.getElementById(item.toString()).appendChild(goldCreeps);
            }

            for (var i = 0; i < amount; i++) {
                var temp1 = temp[i];
                createDiv(i, temp1['winner'], temp1['lane'], temp1['assists'], temp1['gold'], temp1['kills'], temp1['deaths'],
                temp1['matchId'], temp1['minionsKilled'], temp1['matchDuration'], temp1['champion']);
            }



        })
    </script>

    <div class="col-md-4 left">
        <div class="col-md-12" id="brand_div" style="background: url({{ url_for('static', filename='images/vector_minimap.jpg.svg') }}) no-repeat; padding: 0; background-size: 400px">
            <div id='chart_div' style="padding: 0; margin: 0"></div>
{#            <svg style="background: url({{ url_for('static', filename='images/vector_minimap.jpg.svg') }}) no-repeat center; background-size: 100%"></svg>#}

        </div><script type="text/javascript">
        var temper = {{ matchData|tojson }};
        google.load("visualization", "1.1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var k = 'point { size: 5; shape-type: diamond; fill-color: #46B9C4';
            var d = 'point { size: 5; shape-type: triangle; fill-color: #FF3D33';
            var a = 'point { size: 5; shape-type: circle; fill-color: #000000';
            var data = new google.visualization.DataTable();
            var ar = [['X', 'Y', {'type': 'string', 'role': 'style'}]];
            for (var i = 0;i < temper['games'].length;i++) {
                for (var j = 0; j < temper['games'][i]['kills'].length; j++)
                    ar.push([temper['games'][i]['kills'][j]['position']['x'], temper['games'][i]['kills'][j]['position']['y'], k]);
                for (var j = 0; j < temper['games'][i]['deaths'].length; j++)
                    ar.push([temper['games'][i]['deaths'][j]['position']['x'], temper['games'][i]['deaths'][j]['position']['y'], d]);
                for (var j = 0; j < temper['games'][i]['assists'].length; j++)
                    ar.push([temper['games'][i]['assists'][j]['position']['x'], temper['games'][i]['assists'][j]['position']['y'], a]);
            }
            data.addColumn('number', 'y');
            data.addColumn('number', 'x');
            var data = google.visualization.arrayToDataTable(ar);
        var options = {
            backgroundColor: 'none',
            'width':400,
            'height':400,
            chartArea:{left:0,top:0,width:"100%",height:"100%"},
            legend: {position: 'none'},
            vAxis: {
                gridlines: {
                    color: 'transparent'
                },
                viewWindow: {
                    min: -120,
                    max: 14980
                }
            },
            hAxis: {
                gridlines: {
                    color: 'transparent'
                },
                viewWindow: {
                    min: -120,
                    max: 14870
                }
            }
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }</script>
    </div>
    <div id="rightDiv" class="col-md-8 right" style="height: 1000px; overflow:auto;">
{#        <div style="display:table;height:100%;" class="bg-danger padder">#}
{#            <div style="float:left;display:table-cell;vertical-align:middle;" class="imag col-md-1">#}
{#                test#}
{#            </div>#}
{#            <div style="float:left" class="col-md-1 textContainer">#}
{#                test2#}
{#            </div>#}
{#            <table style="float:left; width: 134px;" class="col-sm-2 table table-condensed border-free-table">#}
{#                <tbody>#}
{#                    <tr>#}
{#                        <td>Kills: </td>#}
{#                        <td>'+kills+'</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td>Deaths: </td>#}
{#                        <td>'+deaths+'</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td>Assists: </td>#}
{#                        <td>'+assist+'</td>#}
{#                    </tr>#}
{#                </tbody>#}
{#            </table>#}
{##}
{#        </div>#}
    </div>
{% endblock %}