{% extends "template.html" %}
{% block title %}
    <title>{{ playername }} | Stats</title>
{% endblock %}

{% block header %}
    <link href="{{ url_for('static', filename='css/stats.css') }}" rel="stylesheet">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LolStats</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {
            var temp = {{ jsonData|tojson }};
            var amount = temp.length;
            function createDiv(item, win, lane, assist, gold, kills, deaths, id, minionK, time, champ) {
                var iDiv = document.createElement('div');
                iDiv.id = id.toString();
                var img = document.createElement('div');
                var eleLane = document.createElement('div');
                var killDiv = document.createElement('table');
                var goldCreeps = document.createElement('table');
                img.className = 'floater col-md-1';
                //var lo = '<img src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/'+champ.toString()+'.png" width=75px>';
                var lo = '<p>' + champ.toString() + '</p>';
                img.innerHTML = lo;
                killDiv.className = 'floater col-sm-2 table table-condensed border-free-table';
                killDiv.innerHTML = '<tbody><tr><td>Kills: </td><td>'+kills+'</td></tr>' +
                '<tr><td>Deaths: </td><td>'+deaths+'</td></tr>' +
                '<tr><td>Assists: </td><td>'+assist+'</td></tr></tbody>';
                eleLane.className = 'floater port col-md-3';
                eleLane.innerHTML = '<p>Lane: '+lane+'</p>';
                goldCreeps.className = 'col-sm-2 table table-condensed border-free-table rightTab';
                goldCreeps.innerHTML = '<tbody><tr><td>Gold: </td><td>'+gold+'</td></tr>' +
                '<tr><td>Creeps: </td><td>'+minionK+'</td></tr></tbody>';
                if (win == false) {
                    iDiv.className = 'col-md-12 bg-danger padder';
                }
                else {
                    iDiv.className = 'col-md-12 bg-success padder';
                }
                document.getElementsByClassName('col-md-7')[0].appendChild(iDiv);
                document.getElementById(id.toString()).appendChild(img);
                document.getElementById(id.toString()).appendChild(killDiv);
                document.getElementById(id.toString()).appendChild(eleLane);
                document.getElementById(id.toString()).appendChild(goldCreeps);
            }

            for (var i = 0; i < amount; i++) {
                var temp1 = temp[i];
                createDiv(i, temp1['winner'], temp1['lane'], temp1['assists'], temp1['gold'], temp1['kills'], temp1['deaths'],
                temp1['matchId'], temp1['minionsKilled'], temp1['matchDuration'], temp1['champion']);
            }



        })
    </script>

    <div class="col-md-5 left">
        <div class="col-md-12">
            <div id='chart_div' style="padding: 0; margin: 0; width:420px; height:425px"></div>
{#            <svg style="background: url({{ url_for('static', filename='images/vector_minimap.jpg.svg') }}) no-repeat center; background-size: 100%"></svg>#}

        </div>
        <button type="button" id="big_button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Expand Map
        </button>

        <!-- Modal -->
        <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- FIDGET HERR FOR SIZE BUT LOOK AT CSS! -->
                    <div class="stretchy-wrapper">
                        <div id='chart_big_div' style="padding: 0; margin: 0; width:600px; height: 605px"></div>
                        <div id='kills_deaths_chart' style="padding: 0; margin: 0; width:600px; height: 100px"></div>
                    </div>


                </div>
            </div>
        </div>
        <script type="text/javascript">
        var matches = {'1': []};
        var overSeriesIndex =-1;
        var temper = '';
        var kills = [];
        var deaths = [];
        var assists = [];
        $('#big_button').click(function () {
            plotLines();
        });
        $(function () {
            $('#kills_deaths_chart').highcharts({
                legend: {
                    enabled:false
                },
                title: {
                    text: '',
                    style: {
                        display: 'none'
                    }
                },
                credits:{
                    enabled:false
                },
                series: [{
                    name: 'Kills',
                    data: []
                }, {
                    name: 'Deaths',
                    data: []
                }],
                chart: {
                    type: 'line'
                },
                plotOptions: {
                    line: {
                        marker: {
                            enabled: false
                        }
                    }
                }
            });
        });
        $(function () {
            $('#chart_big_div').highcharts({
                chart: {
                    alignTicks: false,
                    type: 'scatter',
                    plotBackgroundImage:"{{ url_for('static', filename='images/vector_minimap.jpg.svg') }}"
                },
                title: {
                    text: '',
                    style: {
                        display: 'none'
                    }
                },
                xAxis: {
                    title: {
                        enabled: false,
                        text: null
                    },
                    endOnTick:false,
                    startOnTick:false,
                    min: -120,
                    max: 14870,
                    lineWidth: 0,
                    gridLineWidth: 0,
                    minorGridLineWidth: 0,
                    tickInterval:100,
                    lineColor: 'transparent',
                    labels: {
                        enabled: false
                    },
                    minorTickLength: 0,
                    tickLength: 0
                },
                yAxis: [{
                    title: {
                        enabled: false,
                        text: null
                    },
                    endOnTick:false,
                    startOnTick:false,
                    min: -120,
                    max: 14870,
                    lineWidth: 0,
                    gridLineWidth: 0,
                    minorGridLineWidth: 0,
                    lineColor: 'transparent',
                    labels: {
                        enabled: false
                    },
                    minorTickLength: 0,
                    tickLength: 0
                }],
                legend: {
                    enabled:false
                },
                credits:{
                    enabled:false
                },
                tooltip: {
                    formatter: function() {
                        //console.log(this.series);
                        for(var i=0; i< this.series.data.length; i++)
                            {

                                this.series.data[i].setState('hover');
                            }
                        return '<b>'+this.series.name+'</b><br/>'+
                        this.x +': '+ this.y +'<br/>'+
                        'Total: '+ this.series.data.length;

                    },
                    positioner: function() {
                        return {x: 10, y:10}
                    }
                }
            });
        });
        $(function () {
            $('#chart_div').highcharts({
                chart: {
                    alignTicks: false,
                    type: 'scatter',
                    plotBackgroundImage:"{{ url_for('static', filename='images/vector_minimap.jpg.svg') }}"
                },
                title: {
                    text: '',
                    style: {
                        display: 'none'
                    }
                },
                xAxis: {
                    title: {
                        enabled: false,
                        text: null
                    },
                    endOnTick:false,
                    startOnTick:false,
                    min: -120,
                    max: 14870,
                    lineWidth: 0,
                    gridLineWidth: 0,
                    minorGridLineWidth: 0,
                    tickInterval:100,
                    lineColor: 'transparent',
                    labels: {
                        enabled: false
                    },
                    minorTickLength: 0,
                    tickLength: 0
                },
                yAxis: [{
                    title: {
                        enabled: false,
                        text: null
                    },
                    endOnTick:false,
                    startOnTick:false,
                    min: -120,
                    max: 14870,
                    lineWidth: 0,
                    gridLineWidth: 0,
                    minorGridLineWidth: 0,
                    lineColor: 'transparent',
                    labels: {
                        enabled: false
                    },
                    minorTickLength: 0,
                    tickLength: 0
                }],
                legend: {
                    enabled:false
                },
                credits:{
                    enabled:false
                },
                tooltip: {
                    formatter: function() {
                        //console.log(this.series);
                        for(var i=0; i< this.series.data.length; i++)
                            {

                                this.series.data[i].setState('hover');
                            }
                        return '<b>'+this.series.name+'</b><br/>'+
                        this.x +': '+ this.y +'<br/>'+
                        'Total: '+ this.series.data.length;

                    },
                    positioner: function() {
                        return {x: 10, y:10}
                    }
                }
            });
        });
        function plotLines() {
            var chart = $('#kills_deaths_chart').highcharts();
            var maxTime = 0;
            if (temper != '')
                for (var i = 0; i < temper['games'].length; i++) {
                    for (var j = 0; j < temper['games'][i]['kills'].length; j++) {
                        if (temper['games'][i]['kills'][j]['timestamp'] > maxTime)
                            maxTime = temper['games'][i]['kills'][j]['timestamp']
                        kills.push({
                            'timeline': temper['games'][i]['kills'][j]['timestamp'],
                            'position': temper['games'][i]['kills'][j]['position']
                        });
                    }
                    for (var j = 0; j < temper['games'][i]['deaths'].length; j++) {
                        if (temper['games'][i]['deaths'][j]['timestamp'] > maxTime)
                            maxTime = temper['games'][i]['deaths'][j]['timestamp']
                        deaths.push({
                            'timeline': temper['games'][i]['deaths'][j]['timestamp'],
                            'position': temper['games'][i]['deaths'][j]['position']
                        });
                    }
                    for (var j = 0; j < temper['games'][i]['assists'].length; j++) {
                        if (temper['games'][i]['assists'][j]['timestamp'] > maxTime)
                            maxTime = temper['games'][i]['assists'][j]['timestamp']
                        assists.push({
                            'timeline': temper['games'][i]['assists'][j]['timestamp'],
                            'position': temper['games'][i]['assists'][j]['position']
                        });
                    }
                }
            kills.sort(function(a,b) { return parseFloat(a.timeline) - parseFloat(b.timeline) } );
            deaths.sort(function(a,b) { return parseFloat(a.timeline) - parseFloat(b.timeline) } );
            var ki = [];
            var de = [];
{#            while(chart.series.length > 0)#}
{#                chart.series[0].remove (false);#}
{#            chart.redraw();#}
            for ( var i = 0; i < maxTime;i+=60) {
                ki.push(0);
                de.push(0);
            }

            for (var i = 0; i < kills.length;i++)
            {
                ki[Math.ceil(kills[i]['timeline']/60)]++;
            }
            for (var i = 0; i < deaths.length;i++)
            {
                de[Math.ceil(deaths[i]['timeline']/60)]++;
            }

            chart.series[0].setData(ki);
            chart.series[1].setData(de);
{#            var k = [];#}
{#            var d = [];#}
{#            var a = [];#}
{#            //while(chart.series.length > 0)#}
{#            //    chart.series[0].remove (false);#}
{#            //chart.redraw();#}
{#            var i = temper['games'].length - 1;#}
{#            for (var i = 0; i < temper['games'].length; i++) {#}
{#                for (var j = 0; j < temper['games'][i]['kills'].length; j++)#}
{#                    //chart.series[0].addPoint([temper['games'][i]['kills'][j]['position']['x'], temper['games'][i]['kills'][j]['position']['y']]);#}
{#                    k.push([temper['games'][i]['kills'][j]['position']['x'], temper['games'][i]['kills'][j]['position']['y']]);#}
{#                for (var j = 0; j < temper['games'][i]['deaths'].length; j++)#}
{#                    //chart.series[1].addPoint([temper['games'][i]['deaths'][j]['position']['x'], temper['games'][i]['deaths'][j]['position']['y']]);#}
{#                    d.push([temper['games'][i]['deaths'][j]['position']['x'], temper['games'][i]['deaths'][j]['position']['y']]);#}
{#                for (var j = 0; j < temper['games'][i]['assists'].length; j++)#}
{#                    //chart.series[2].addPoint([temper['games'][i]['assists'][j]['position']['x'], temper['games'][i]['assists'][j]['position']['y']]);#}
{#                    a.push([temper['games'][i]['assists'][j]['position']['x'], temper['games'][i]['assists'][j]['position']['y']]);#}
{#                chart.addSeries({#}
{#                    name: temper['games'][i]['matchId'].toString(),#}
{#                    id: "k_"+temper['games'][i]['matchId'],#}
{#                    data: k,#}
{#                    animation: false,#}
{#                    redraw: false,#}
{#                });#}
{#                chart.addSeries({#}
{#                    name: temper['games'][i]['matchId'].toString(),#}
{#                    id: "k_"+temper['games'][i]['matchId'],#}
{#                    data: k,#}
{#                    animation: false,#}
{#                    redraw: false,#}
{#                });#}
{#                chart.addSeries({#}
{#                    name: temper['games'][i]['matchId'].toString(),#}
{#                    id: "k_"+temper['games'][i]['matchId'],#}
{#                    data: k,#}
{#                    animation: false,#}
{#                    redraw: false,#}
{#                });#}
        }
        function getPoints() {
            var t1 = JSON.stringify(matches);
            var chart = $('#chart_div').highcharts();
            $.ajax("/stats/{{ region }}/{{ playername }}", {
                data: t1,
                contentType: "application/json",
                type: "POST",
                async: false,
                success: function (data) {
                    //console.log(data['matchData']);
                    temper = data['matchData'];
                }
            });
            var k = [];
            var d = [];
            var a = [];
            //while(chart.series.length > 0)
            //    chart.series[0].remove (false);
            //chart.redraw();
            var i = temper['games'].length - 1;
            //for (var i = 0; i < temper['games'].length; i++) {
                for (var j = 0; j < temper['games'][i]['kills'].length; j++)
                    //chart.series[0].addPoint([temper['games'][i]['kills'][j]['position']['x'], temper['games'][i]['kills'][j]['position']['y']]);
                    k.push([temper['games'][i]['kills'][j]['position']['x'], temper['games'][i]['kills'][j]['position']['y']]);
                for (var j = 0; j < temper['games'][i]['deaths'].length; j++)
                    //chart.series[1].addPoint([temper['games'][i]['deaths'][j]['position']['x'], temper['games'][i]['deaths'][j]['position']['y']]);
                    d.push([temper['games'][i]['deaths'][j]['position']['x'], temper['games'][i]['deaths'][j]['position']['y']]);
                for (var j = 0; j < temper['games'][i]['assists'].length; j++)
                    //chart.series[2].addPoint([temper['games'][i]['assists'][j]['position']['x'], temper['games'][i]['assists'][j]['position']['y']]);
                    a.push([temper['games'][i]['assists'][j]['position']['x'], temper['games'][i]['assists'][j]['position']['y']]);
                chart.addSeries({
                    name: temper['games'][i]['matchId'].toString(),
                    id: "k_"+temper['games'][i]['matchId'],
                    data: k,
                    animation: false,
                    redraw: false,
                    marker: {
                        symbol: 'circle',
                        fillColor: '#3586FF',
                        radius: 6,
                        states: {
                            hover: {
                                fillColor: '#003380',
                                radius: 10
                            }
                        }
                    },
                    events: {
                        mouseOver: function() {
                            //console.log(this.index);
                            overSeriesIndex = this.index;
                            for(var i=0; i< k.length; i++)
                            {
                                this.data[i].setState('hover');
                            }

                        },
                        mouseOut: function(){

                            for(var i=0; i< k.length; i++)
                            {
                                this.data[i].setState('');
                            }
                        }
                    }
                });
                //k = [];
                chart.addSeries({
                    name: temper['games'][i]['matchId'],
                    id: "d_"+temper['games'][i]['matchId'],
                    data: d,
                    animation: false,
                    redraw: false,
                    marker: {
                        symbol: 'diamond',
                        fillColor: '#FF3E3E',
                        radius: 6,
                        states: {
                            hover: {
                                fillColor: '#FF0000',
                                radius: 10
                            }
                        }
                    },
                    events: {
                        mouseOver: function() {
                            //console.log(this.index);
                            overSeriesIndex = this.index;
                            for(var i=0; i< d.length; i++)
                            {
                                this.data[i].setState('hover');
                            }

                        },
                        mouseOut: function(){

                            for(var i=0; i< d.length; i++)
                            {
                                this.data[i].setState('');
                            }
                        }
                    }
                });
                //d = [];
                chart.addSeries({
                    name: temper['games'][i]['matchId'],
                    id: "a_"+temper['games'][i]['matchId'],
                    animation: false,
                    redraw: false,
                    marker: {
                        symbol: 'triangle',
                        fillColor: '#F47DF4',
                        radius: 6,
                        states: {
                            hover: {
                                fillColor: '#ff00ff',
                                radius: 10
                            }
                        }
                    },
                    data: a,
                    events: {
                        mouseOver: function() {
                            //console.log(this.index);
                            overSeriesIndex = this.index;
                            for(var i=0; i< a.length; i++)
                            {
                                this.data[i].setState('hover');
                            }

                        },
                        mouseOut: function(){

                            for(var i=0; i< a.length; i++)
                            {
                                this.data[i].setState('');
                            }
                        }
                    }
                });
                //a = [];
            //}




        }




        $(document).ready(function () {
            $('#rightDiv').click(function (e) {
                if ($(e.target).hasClass('padder')) {
                    var width = $(this).width();
                    var match = parseInt(event.target.id);
                    var index = matches['1'].indexOf(match);
                    if (index == -1) {
                        matches['1'].push(match);
                        if ($('#' + event.target.id).css('background-color') == 'rgb(223, 240, 216)') {
                            $('#' + event.target.id).animate({
                                left: "+=50",
                                width: (width - 50),
                                backgroundColor: '#94d55b'
                            }, 500, function () {
                                // Animation complete.
                            });
                        } else if ($('#' + event.target.id).css('background-color') == 'rgb(242, 222, 222)') {
                             $('#' + event.target.id).animate({
                                left: "+=50",
                                width: (width - 50),
                                backgroundColor: '#fb5d5d'
                            }, 500, function () {
                                // Animation complete.
                            });
                        }
                        getPoints();
                    } else {
                        var chart = $('#chart_div').highcharts();
                        chart.get("k_"+matches['1'][index]).remove();
                        chart.get("d_"+matches['1'][index]).remove();
                        chart.get("a_"+matches['1'][index]).remove();
                        matches['1'].splice(index, 1);
                        if ($('#' + event.target.id).css('background-color') == 'rgb(148, 213, 91)') {
                            $('#' + event.target.id).animate({
                                left: "-=50",
                                width: (width ),
                                backgroundColor: 'rgb(223, 240, 216)'
                            }, 500, function () {
                                // Animation complete.
                            });
                        } else if ($('#' + event.target.id).css('background-color') == 'rgb(251, 93, 93)') {
                            $('#' + event.target.id).animate({
                                left: "-=50",
                                width: (width ),
                                backgroundColor: 'rgb(242, 222, 222)'
                            }, 500, function () {
                                // Animation complete.
                            });
                        }
                    }
                }
            });
        });
    </script>
    </div>
    <div id="rightDiv" class="col-md-7 right" style="height: 1000px; overflow:auto;">
{#        <div style="display:table;height:100%;" class="bg-danger padder">#}
{#            <div style="float:left;display:table-cell;vertical-align:middle;" class="imag col-md-1">#}
{#                test#}
{#            </div>#}
{#            <div style="float:left" class="col-md-1 textContainer">#}
{#                test2#}
{#            </div>#}
{#            <table style="float:left; width: 134px;" class="col-sm-2 table table-condensed border-free-table">#}
{#                <tbody>#}
{#                    <tr>#}
{#                        <td>Kills: </td>#}
{#                        <td>'+kills+'</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td>Deaths: </td>#}
{#                        <td>'+deaths+'</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td>Assists: </td>#}
{#                        <td>'+assist+'</td>#}
{#                    </tr>#}
{#                </tbody>#}
{#            </table>#}
{##}
{#        </div>#}
    </div>
{% endblock %}