<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
        {% block title %}
        {% endblock %}
    </head>

    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="{{  url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{  url_for('static', filename='js/heatmap.js') }}"></script>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>